# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0.0; y = -100.0; z = 20.0; };
    rotation = { x = 0.0; y = 0.0; z = 0.0; };
    fieldOfView = 72.0; # In degree
};
 
# Primitives in the scene
primitives:
{
    # List of spheres


    # List of planes
    planes = (
        { 
            point = { x = 4.0; y = 0.0; z = 0.0; };
            normal = { x = 2.0; y = 0.0; z = 1.0; };
            color = { r = 64.1; g = 64.1; b = 255.1; };
        }
    );
};

# Light configuration
lights:
{
    ambient = {
        multiplier = 0.4; # Multiplier of ambient light
        color = { r = 252.0; g = 255.0; b = 255.0; }; # Color of ambient light
    };

    # List of point lights
    point = (
        {
            position = { x = 1.0; y = -100.0; z = 20.0; };
            color = { r = 255.0; g = 255.0; b = 255.0; };
            intensity = 4.8; # Multiplier of the light intensity
        }
    );

    # List of directional lights
    directional = (
        {
            position = { x = 0.0; y = 0.0; z = 0.0; };
            color = { r = 255.0; g = 255.0; b = 255.0; };
            intensity = 0.5; # Multiplier of the light intensity
        }
    );
};
