# Scene 07 - Underwater
# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0.0; y = -100.0; z = 10.0; };
    rotation = { x = 5.0; y = 0.0; z = 0.0; };
    fieldOfView = 95.0; # In degree
};

# Primitives in the scene
primitives:
{
    # List of spheres
    spheres = (
        {
            position = { x = -30.0; y = 40.0; z = 5.0; };
            radius = 12.0;
            color = { r = 255.0; g = 150.0; b = 50.0; };
        },
        {
            position = { x = 20.0; y = 50.0; z = 8.0; };
            radius = 8.0;
            color = { r = 255.0; g = 80.0; b = 80.0; };
        },
        {
            position = { x = 50.0; y = 30.0; z = 3.0; };
            radius = 5.0;
            color = { r = 200.0; g = 50.0; b = 200.0; };
        },
        {
            position = { x = -10.0; y = 80.0; z = 20.0; };
            radius = 6.0;
            color = { r = 100.0; g = 200.0; b = 255.0; };
        },
        {
            position = { x = 0.0; y = 60.0; z = 15.0; };
            radius = 20.0;
            color = { r = 150.0; g = 200.0; b = 100.0; };
        }
    );

    # List of planes
    planes = (
        {
            point = { x = 0.0; y = 0.0; z = 0.0; };
            normal = { x = 0.0; y = 0.0; z = 1.0; };
            color = { r = 180.0; g = 160.0; b = 100.0; };
        },
        {
            point = { x = 0.0; y = 0.0; z = 60.0; };
            normal = { x = 0.0; y = 0.0; z = -1.0; };
            color = { r = 0.0; g = 80.0; b = 150.0; };
        }
    );
};

# Light configuration
lights:
{
    ambient = {
        multiplier = 0.4;
        color = { r = 0.0; g = 100.0; b = 180.0; };
    };

    point = (
        {
            position = { x = 0.0; y = -50.0; z = 55.0; };
            color = { r = 150.0; g = 230.0; b = 255.0; };
            intensity = 7.0;
        },
        {
            position = { x = -60.0; y = 40.0; z = 30.0; };
            color = { r = 0.0; g = 180.0; b = 220.0; };
            intensity = 2.0;
        }
    );

    directional = (
        {
            position = { x = 0.0; y = 0.0; z = -1.0; };
            color = { r = 100.0; g = 200.0; b = 255.0; };
            intensity = 0.7;
        }
    );
};
