# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0.0; y = -60.0; z = 8.0; };
    rotation = { x = 0.0; y = 0.0; z = 0.0; };
    fieldOfView = 72.0; # In degree
};

# Primitives in the scene
primitives:
{
    # Red sphere in the foreground
    spheres = (
        {
            center = { x = 0.0; y = 0.0; z = 0.0; };
            radius = 7.0
            color = { r = 255.0; g = 30.0; b = 30.0; };
        }
    );

    # Light-blue ground plane behind/below the sphere
    planes = (
        {
            point = { x = 0.0; y = 0.0; z = -5.0; };
            normal = { x = 0.0; y = 0.0; z = 1.0; };
            color = { r = 173.0; g = 216.0; b = 230.0; };
        }
    );
};

# Light configuration
lights:
{
    ambient = {
        multiplier = 0.3;
        color = { r = 255.0; g = 255.0; b = 255.0; };
    };

    point = (
           {
            position = { x = -20.0; y = -40.0; z = 30.0; };
            color = { r = 255.0; g = 255.0; b = 255.0; };
            intensity = 2.0;
        }
    );

};
